div(class="section")
  div(class="label") Method
  div(class="value delete") delete
div(class="section")
  div(class="lable") Route
  div(class="value") http:localhost:2319/api/activities/{name}
div(class="section")
  div(class="lable") Description
  div(class="value") Deletes the activity with the given name.
div(class="section")
  div(class="lable") Response
  div(class="value") Successfully deleted.
  