div(class="section")
  div(class="lable") Method
  div(class="value delete") get
div(class="section")
  div(class="lable") Route
  div(class="value") http:localhost:2319/activities
div(class="section")
  div(class="lable") Description
  div(class="value") Returns a list of all activities.
div(class="section")
  div(class="lable") Response
  div(class="value") 
    pre
    | [{
    |   id:
    |   name:
    |   description:
    |   monthId:
    |   createdAt:
    |   updatedAt:
    |   deletedAt:
    | }, {
    |   id:
    |   name:
    |   description:
    |   monthId:
    |   createdAt:
    |   updatedAt:
    |   deletedAt:
    | }
    |}]


