div(class="section")
  div(class="lable") Method
  div(class="value delete") post
div(class="section")
  div(class="lable") Route
  div(class="value") http:localhost:2319/activities/
div(class="section")
  div(class="lable") Headers
    div(class="header-name") Content-Type
    div(class="header-value") application/json
div(class="section")
  div(class="lable") Body
  div(class="value")
    div(class="section")
  div(class="lable") Method
  div(class="value delete") get
div(class="section")
  div(class="lable") Route
  div(class="value") http:localhost:2319/activities
div(class="section")
  div(class="lable") Description
  div(class="value") Returns a list of all activities.
div(class="section")
  div(class="lable") Response
  div(class="value") 
    pre
    | {
    |   "name":
    |   "monthName":
    |   "moonName":
    |  }
div(class="section")
  div(class= "lable") Description
  div(class="value") Deletes the activity with the given name.
div(class="section")
  div(class="lable") Response
  div(class="value")
  div(class="section")
  div(class="lable") Method
  div(class="value delete") post
div(class="section")
  div(class="lable") Route
  div(class="value") http:localhost:2319/activities
div(class="section")
  div(class="lable") Description
  div(class="value") Returns a list of all activities.
div(class="section")
  div(class="lable") Response
  div(class="value") 
    pre
    | [{
    |   id:
    |   name:
    |   description:
    |   monthId:
    |   createdAt:
    |   updatedAt:
    |   deletedAt:
    }



  