div(class="section")
  div(class="lable") Method
  div(class="value delete") get
div(class="section")
  div(class="lable") Route
  div(class="value") http:localhost:2319/months/{slug}
div(class="section")
  div(class="lable") Description
  div(class="value") Returns a list of the month associated with that slug.
div(class="section")
  div(class="lable") Response
  div(class="value") 
    pre
    | [{
    |   id:
    |   name:
    |   slug:
    |   createdAt:
    |   updatedAt:
    |   deletedAt:
    | }]


