<html>
<head>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  h1 Monthly Moons
    h2
      div(class="left-container")
        div(class="tabs highlighted" id="getAll" onclick="updateSelected('getAll')")
        span(class="get") GET
        span /months
      
      div(class="right-container")
        div(class="method" id="getAll")
    h3 Method
      div(class="get spacing") GET
    h3 Route
      div(class="spacing") http://localhost:2319/months
    h3 Decription
      div(class="spacing") Returns a list of each month and it's moon.
</body>

</html>