div(class="section")
  div(class="lable") Method
  div(class="value delete") get
div(class="section")
  div(class="lable") Route
  div(class="value") http:localhost:2319/moons/{name}
div(class="section")
  div(class="lable") Description
  div(class="value") Returns the moon associated with that name.
div(class="section")
  div(class="lable") Response
  div(class="value") 
    pre
    | [{
    |   id:
    |   name:
    |   monthId:
    |   createdAt:
    |   updatedAt:
    |   deletedAt:
    | }]