div(class="section")
  div(class="lable") Method
  div(class="value delete") get
div(class="section")
  div(class="lable") Route
  div(class="value") http:localhost:2319/moons/month/{monthId}
div(class="section")
  div(class="lable") Description
  div(class="value") Returns the moon associated with that month.
div(class="section")
  div(class="lable") Response
  div(class="value") 
    pre
    | [{
    |   id:
    |   name:
    |   newAndWaxing:
    |   full:
    |   wainingAndDark:
    |   monthId:
    |   createdAt:
    |   updatedAt:
    |   deletedAt:
    | }]

